@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Anuphan', sans-serif;
    overflow: hidden;
}

body {
    background: linear-gradient(90deg, #116DF9 7.44%, #01FFC2 106.68%);
}